@charset "UTF-8";

body {
  min-width: 1200px;
}

/* header area*/
#header {
  position: fixed;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 800;
}

#header .h-inner {
  min-width: 1200px;
  margin: 0 auto;
}

#header .h-inner .logo {
  float: left;
  align-self: center;
}

/* main_gnb */
#header .h-inner .gnb .main_gnb {
  position: relative;
}

#header .h-inner .gnb .main_gnb .gnbRight {
  position: absolute;
  float: left;
  margin: 0 auto;
  height: 530px;
  width: 100%;
  top: 72px;
  /* background-color: blue; */
  display: none;
}

#header .h-inner .gnb .main_gnb .gnbRight .rightMenu {
  display: block;
  padding: 35px;
}

#header .h-inner .gnb .main_gnb .gnbRight .rightMenu li {
  list-style: disc;
  color: #666;
}

#header .h-inner .gnb .main_gnb .gnbRight .rightMenu li a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
}

#header .h-inner .gnb .main_gnb .gnbNav {
  position: relative;
  float: left;
  left: 0;
  line-height: 70px;
  padding: 0 44px;
  font-weight: 400;
}

#header .h-inner .gnb .main_gnb .gnbNav::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 16px;
  top: calc(50% - 8px);
  left: 0;
  background-color: #ddd;
}

#header .h-inner .gnb .main_gnb .gnbNav:nth-child(2)::before {
  display: none;
}

#header .h-inner .gnb .main_gnb .gnbNav a {
  font-size: 23px;
  color: #333;
}

#header .h-inner .gnb .main_gnb .gnbNav > a:hover::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 58px;
  height: 4px;
  width: 55px;
  background: #3f68b8;
}


#header .h-inner .gnb .main_gnb .gnbNav .submenu {
  position: absolute;
  width: 228px;
  height: 530px;
  left: 0;
  padding: 15px;
  padding-top: 24px;
  /* background-color: red; */
  display: none;
}

#header .h-inner .gnb .main_gnb .gnbNav .submenu li a {
  display: block;
  font-size: 16px;
  color: #666;
  line-height: 24px;
  padding: 8px 0;
  padding-left: 20px;
}

/* mobile-btn */
input[type="checkbox"]#mobile-check {
  display: none;
}

#header .h-inner .mobile-btn {
  position: relative;
  top: 25px;
}

#header .h-inner .mobile-btn #mobile-btn-line {
  position: absolute;
  width: 30px;
  height: 20px;
  /* background: red; */
  cursor: pointer;
}

#header .h-inner .mobile-btn #mobile-btn-line > span {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 1.6px;
  background: #666;
}

#header .h-inner .mobile-btn #mobile-btn-line > span:nth-child(1) {
  top: 0;
}

#header .h-inner .mobile-btn #mobile-btn-line > span:nth-child(3) {
  top: 20px;
}

#header .h-inner .top-gnb {
  position: relative;
  display: inline-flex;
  margin-left: 45px;
}

#header .h-inner .top-gnb input {
  width: 498px;
  height: 43px;
  text-indent: 20px;
  border: 1px solid #ddd;
}

#header .h-inner .top-gnb .keyboard {
  position: absolute;
  right: 320px;
  top: 5px;
  display: inline-block;
  width: 34px;
  height: 34px;
  text-indent: -100000em;
  background: url('../img/btn_keyboard.png');
}

#header .h-inner .top-gnb .search {
  position: absolute;
  right: 280px;
  top: 5px;
  display: inline-block;
  width: 34px;
  height: 34px;
  text-indent: -100000em;
  background: url('../img/btn_search.png');
}

#header .h-inner .top-gnb .top-gnb-sign-in {
  margin-left: 20px;
  align-self: center;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li {
  position: relative;
  float: left;
  padding: 0 10px;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 8px;
  top: calc(50% - 4px);
  right: 0;
  background-color: #ddd;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li:last-child:before {
  display: none;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li a {
  color: #666;
}

/* content area*/
#wrap-cont {
  position: relative;
  width: 100%;
  min-width: 1200px;
  padding: 50px 0 10px;
}

#wrap-cont .first-cont {
  position: relative;
  margin-bottom: 60px;
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background-color: pink;
}

/* footer area*/
#footer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#footer .top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

#footer .top-footer .direct_link {
  float: left;
}

#footer .top-footer .direct_link li {
  float: left;
  line-height: 40px;
}

#footer .top-footer .direct_link li::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 8px;
  top: calc(50% - 4px);
  right: 0;
  background-color: #ddd;
}

#footer .top-footer .direct_link li:first-child::before {
  display: none;
}

#footer .top-footer .direct_link li a {
  font-size: 16px;
  color: #666;
  padding: 0 25px;
}

#footer .top-footer .direct_link li:nth-child(3) a {
  color: #3f68b8;
}

#footer .top-footer .familysite-wrap {
  float: right;
}

#footer .top-footer .familysite-wrap #select_link {
  width: 190px;
  height: 40px;
  font-size: 16px;
  color: #666;
  text-indent: 15px;
  margin-left: 10px;
  background: #f5f5f5;
  border-style: none;
}

#footer .top-footer .familysite-wrap #select_link option {
  background: #ddd;
  /* 커스텀하기 */
}

#footer .bottom-footer {
  padding: 35px 0;
  overflow: hidden;
}

#footer .bottom-footer .footer-txt {
  float: left;
  font-size: 16px;
  color: #666;
}

#footer .bottom-footer .footer-txt p {
  padding: 5px 0;
}

#footer .bottom-footer .center-img {
  float: right;
}
