@charset "UTF-8";

body {
  min-width: 1200px;
}

/* header */
#header {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

#header .h-inner {
  width: 1200px;
  margin: 0 auto;
}

#header .h-inner .logo {
  float: left;
  align-self: center;
}

#header .h-inner .gnb ul li {
  position: relative;
  float: left;
  font-size: 23px;
  line-height: 70px;
  padding: 0 44px;
  font-weight: 400;
}

#header .h-inner .gnb ul li::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 16px;
  top: calc(50% - 8px);
  left: 0;
  background-color: #ddd;
}

#header .h-inner .gnb ul li:first-child::before {
  display: none;
}

#header .h-inner .gnb ul li a {
  color: #333;
}

input[type="checkbox"]#mobile-check {
  display: none;
}

#header .h-inner .mobile-btn {
  position: relative;
  top: 25px;
}

#header .h-inner .mobile-btn #mobile-btn-line {
  position: absolute;
  width: 30px;
  height: 20px;
  /* background: red; */
  cursor: pointer;
}

#header .h-inner .mobile-btn #mobile-btn-line > span {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 1.6px;
  background: #666;
}

#header .h-inner .mobile-btn #mobile-btn-line > span:nth-child(1) {
  top: 0;
}

#header .h-inner .mobile-btn #mobile-btn-line > span:nth-child(3) {
  top: 20px;
}

#header .h-inner .top-gnb {
  position: relative;
  display: inline-flex;
  margin-left: 45px;
}

#header .h-inner .top-gnb input {
  width: 498px;
  height: 43px;
  text-indent: 20px;
  border: 1px solid #ddd;
}

#header .h-inner .top-gnb .keyboard {
  position: absolute;
  right: 320px;
  top: 5px;
  display: inline-block;
  width: 34px;
  height: 34px;
  text-indent: -100000em;
  background: url('../img/btn_keyboard.png');
}

#header .h-inner .top-gnb .search {
  position: absolute;
  right: 280px;
  top: 5px;
  display: inline-block;
  width: 34px;
  height: 34px;
  text-indent: -100000em;
  background: url('../img/btn_search.png');
}

#header .h-inner .top-gnb .top-gnb-sign-in {
  margin-left: 20px;
  align-self: center;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li {
  position: relative;
  float: left;
  padding: 0 10px;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 8px;
  top: calc(50% - 4px);
  right: 0;
  background-color: #ddd;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li:last-child:before {
  display: none;
}

#header .h-inner .top-gnb .top-gnb-sign-in .top-gnb-wrap li a {
  color: #666;
}
